calcTemp.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://TSHEET/calcTemp.tws" xmlns:intf="http://TSHEET/calcTemp.tws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://TSHEET/calcTemp.tws">
<!--
WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)
-->
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://TSHEET/calcTemp.tws">
<element name="caltemperature">
<complexType>
<sequence>
<element name="degreeF" type="xsd:double"/>
</sequence>
</complexType>
</element>
<element name="caltemperatureResponse">
<complexType>
<sequence>
<element name="degreeC" type="xsd:double"/>
</sequence>
</complexType>
</element>
</schema>
</wsdl:types>
<wsdl:message name="caltemperatureRequest">
<wsdl:part element="impl:caltemperature" name="parameters"/>
</wsdl:message>
<wsdl:message name="caltemperatureResponse">
<wsdl:part element="impl:caltemperatureResponse" name="parameters"/>
</wsdl:message>
<wsdl:portType name="calcTempPortType">
<wsdl:operation name="caltemperature">
<wsdl:input message="impl:caltemperatureRequest" name="caltemperatureRequest"/>
<wsdl:output message="impl:caltemperatureResponse" name="caltemperatureResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="calcTempSoapSoapBinding" type="impl:calcTempPortType">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="caltemperature">
<wsdlsoap:operation soapAction="http://TSHEET/calcTemp.tws/caltemperature"/>
<wsdl:input name="caltemperatureRequest">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="caltemperatureResponse">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="calcTemp">
<wsdl:port binding="impl:calcTempSoapSoapBinding" name="calcTempSoap">
<wsdl:documentation>SOAP Port</wsdl:documentation>
<wsdlsoap:address location="http://localhost:9080/teamworks/webservices/TSHEET/calcTemp.tws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>