timesheet.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://TSHEET/totalhours.tws" xmlns:intf="http://TSHEET/totalhours.tws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://TSHEET/totalhours.tws">
<!--
WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)
-->
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://TSHEET/totalhours.tws">
<element name="caltotalhours">
<complexType>
<sequence>
<element name="Monday" type="xsd:int"/>
<element name="Tuesday" type="xsd:int"/>
<element name="Wednesday" type="xsd:int"/>
<element name="Thursday" type="xsd:int"/>
<element name="Friday" type="xsd:int"/>
<element name="Username" type="xsd:string"/>
</sequence>
</complexType>
</element>
<element name="caltotalhoursResponse">
<complexType>
<sequence>
<element name="totalhours" type="xsd:int"/>
</sequence>
</complexType>
</element>
</schema>
</wsdl:types>
<wsdl:message name="caltotalhoursResponse">
<wsdl:part element="impl:caltotalhoursResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="caltotalhoursRequest">
<wsdl:part element="impl:caltotalhours" name="parameters"/>
</wsdl:message>
<wsdl:portType name="totalhoursPortType">
<wsdl:operation name="caltotalhours">
<wsdl:input message="impl:caltotalhoursRequest" name="caltotalhoursRequest"/>
<wsdl:output message="impl:caltotalhoursResponse" name="caltotalhoursResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="totalhoursSoapSoapBinding" type="impl:totalhoursPortType">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="caltotalhours">
<wsdlsoap:operation soapAction="http://TSHEET/totalhours.tws/caltotalhours"/>
<wsdl:input name="caltotalhoursRequest">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="caltotalhoursResponse">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="totalhours">
<wsdl:port binding="impl:totalhoursSoapSoapBinding" name="totalhoursSoap">
<wsdl:documentation>SOAP Port</wsdl:documentation>
<wsdlsoap:address location="http://localhost:9080/teamworks/webservices/TSHEET/totalhours.tws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>